.table {
    display: flex;
    flex-flow: column nowrap;
    border: 2px solid bisque;
    font-size: 1.25rem;

    .header {
        font-weight: bold;
    }
    .row {
        display: flex;
        justify-content: space-between;
        .col {
            text-align: center;
            flex-grow: 1;
            flex-shrink: 0;
            border: 0.5px solid bisque;
            padding: 1rem;
            &.col-1 {
                flex-basis: 60%;
                text-align: left;
            }
            &.col-2 {
                flex-basis: 40%;
            }
        }
        &.selected{
            background-color: aquamarine;
        }
    }
}

.titre{
    font-size: 1.5rem;
    color: chocolate;
}

.contenu{
    font-size: 1rem;
    padding:1.5rem;
}

form{
    padding-top: 2rem;
}