<div class="titre">Renseignement d'une nouvelle tâche</div>
<div class="contenu">
<form [formGroup]="f" (ngSubmit)="onSubmit()">
    <div>
      <textarea cols="30" rows="4" formControlName="tache"></textarea>
    </div>
    <div>
      <label><input type="checkbox" formControlName="isUrgent">Tâche urgente ? </label>
    </div>
    <div>
        <button (click)="reinitialiser()" type="reset">Réinitialiser</button>
      <button [disabled]="f.invalid" >Envoyer</button>
    </div>
  </form>
</div>

<div class="titre">Liste de vos tâches personnalisées</div>
<div class="contenu">
  <button (click)="supprimeSelection()" *ngIf="hasSelectedRecords()">Supprimer</button>
</div>
<div class="table">
  <div class="header row">
    <div class="col col-1">Tâche</div>
    <div class="col col-2">Urgent ?</div>
  </div>
  <div (click)="toggleSelection(r)" *ngFor="let r of todolist" class="content row" [class.selected]="isSelected(r)">
    <div class="col col-1">{{r.tache}}</div>
    <div class="col col-2">{{r.isUrgent}}</div>
  </div>
</div>

