.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: antiquewhite;
    .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        img{ 
            width: 2rem;
            padding:0.5rem;
        }
        span{
            font-size: 1.5rem;
            font-variant-caps:titling-caps;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            }

    }
    nav{
        a{
            padding: 0.5rem;
            margin: 0.5rem;
            text-decoration: none;
            color: chocolate;
            font-weight: 600;
            }
        
    }
}