/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

p{
    padding-top: 0.5rem;
}

body{
    margin: 0;
    padding:0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

